extends base.pug

block headExtra 
    title Jogo: #{game.title}

block content 
    .gameContainer
        .gameInfo
            h1= game.title
            p= game.description
            //- img(src=`/public/assets/${game.image}`, alt=game.title)
            p= game.genre 
            ul
                each tag in game.tags
                    li= tag
        a(href='/') Voltar