//- A página carrega com arcadeData

extends base.pug

block headExtra 
    title Login

block content
    section
        h2 Login no Fliperama
        form(id="loginForm")
            label(for="username") Usuário
            input(type="text", name="username", id="username")
            label(for="password") Senha
            input(type="password", name="password", id="password")
            div(style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;")
                a(href="/forgot-password", style="margin-left: auto;") Esqueci minha senha
            div(style="display: flex; gap: 10px; flex-direction: column;")
                button(type="button", id="submitButton") Entrar
                - const arcadeId = arcadeData.id;
                a(href=`/register/${arcadeId}`) 
                    button(type="button") Registrar

block scripts 
    script.
        document.querySelector('#submitButton').addEventListener('click', function() {
            const username = document.querySelector('#username').value;
            const password = document.querySelector('#password').value;
            const apiURL = "#{apiURL}"
            console.log('apiURL', apiURL);

            const arcadeId = "#{arcadeData.id}";

            fetch(`${apiURL}/login/${arcadeId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.type === 'loginSuccess') {
                    window.location.href = '/player/' + data.content.id;
                } else {
                    // TODO: Redirecionar para página de erro
                    alert('Falha ao logar: ' + data.content);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        });
