//- Essa página vai ser carregada com playerData, gameInfos e saves

extends base.pug

block headExtra 
    title Perfil de Usuário

block content 
    div#playerInfo
        section#Profile
            h1 #{playerData.name}

            div
                h3 #{playerData.bio}
                p
                    strong Nível: 
                    | #{playerData.level}
                p
                    div.progress
                        div.progress-bar(style=`width: ${playerData.expPoints / 100 * 50}%`)
                            | #{playerData.expPoints} / #{100} XP

        section#RecentGames
            h2 Jogos Jogados 
                ul
                    - if (saves.length === 0)
                        li Não há jogos salvos.
                    - else
                    each save in saves
                        - var game = gameInfos.find(game => game.id === save.gameId)
                        h3
                            a.gameName(href=`/game/${save.gameId}`) #{game.title}
                            table
                                each value, key in save.data
                                    
                                    tr
                                        td #{game.dataLabels[key]}
                                        td #{value}
                                    //- li
                                    //-     strong #{game.dataLabels[key]}: #{value}
    
    div.returnButton
        a(onclick="window.history.back()") Voltar
    
    
