//- Essa página vai ser carregada com playerData, gameInfos e saves

extends base.pug

block headExtra 
    title Perfil de Usuário

block content 
    div#playerInfo
        section#Profile
            h1 #{playerData.name}

            div
                h3 #{playerData.bio}
                p
                    strong Nível: 
                    | #{playerData.level}
                p
                    strong Pontos de Experiência: 
                    | #{playerData.expPoints}

        section#RecentGames
            h2 Jogos Jogados 
                ul
                    each save in saves
                        - var game = gameInfos.find(game => game.id === save.gameId)
                        h3
                            a(href=`/game/${save.gameId}`) #{game.title}
                            each value, key in save.data
                                li
                                    strong #{game.dataLabels[key]}: #{value}
    
    div
        a(href="/") Voltar