//- Mostrar 

extends base.pug

block headExtra 
    title Perfil de Usuário

block content 
    div#playerInfo
        section#Profile
            h1 #{playerData.name}

            div
                h3 #{playerData.bio}
                p
                    strong Nível: 
                    | #{playerData.level}
                p
                    strong Pontos de Experiência: 
                    | #{playerData.expPoints}

        section#RecentGames
            h2 Jogos Jogados 
            //- Lista os 5 últimos jogos jogados:
            each save in playerData.saveDatas.sort((a, b) => new Date(b.lastPlayed) - new Date(a.lastPlayed)).slice(0,5)
                //- Pegar a informação do jogo a partir do gameId do save.
                - const gameInfo = gameInfos.find(game => game.id === save.gameId);
                if gameInfo 
                    .GameInfo
                        h3= gameInfo.title 
                        p 
                            strong Última vez jogado: 
                            | #{new Date(save.lastPlayed).toLocaleDateString()}
                        ul 
                            each value, key in save.data
                                li 
                                    strong= gameInfo.dataLabels[key] + ': '
                                    span= value
    
    div
        a(href="/") Voltar